<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

		<title>Movie Review's</title>

		<!-- Loading main css file -->
		<link rel="stylesheet" href="../static/style.css">

	</head>
	<body>
		<form method="post" action="/">
			<div id="site-content">
				<header class="site-header">
					<div class="container">
						<a href="index.html" id="branding">
							<img src="images/logo.png" alt="" class="logo">
							<div class="logo-copy">
								<h1 class="site-title">RateIt!</h1>
								<small class="site-description">know Your Movies</small>
							</div>
						</a> <!-- #branding -->

 <!--Search Button-->


						<div class="main-navigation">
							<form  method="POST" class="search-form" >
								<input type="text" placeholder="Search..." name="search_name">
								<button name="submit"></i>Search</button>
							</form>
						</div> <!-- .main-navigation -->





						<div class="mobile-navigation"></div>
					</div>
				</header>
				{% if info%}

				<main class="main-content">
					<div class="container">
						<div class="page">
							<h2>The First Result is as below. </h2>
							<div class="row ">
								<div class="col-md-3">
									<div class="latest-movie ">
										<a href="#"><img src="{{info.thumb}}"  width="200" alt="Movie Photo"></a>
									</div>
								</div>
								<div class="col-md-7">
									<h2 class="section-title movie_photo">{{info.name}}</h2>
									<div class="ratings">
										<p>({{info.year}})</p>
										<p><style="font-size:25px; color:#44aa22;">{{info.rating}} </p>
										<p> Director: {{info.director}}</p>
										<p> Main character: {{info.maincharacter1}},{{info.maincharacter2}}</p>
										<p> Runtime:  {{info.runtime}} Minutes</p>
										<ul class="movie-schedule">
											<li>
												<a href="https://www.youtube.com/results?search_query={{info.name}}" target="_blank"><button>Watch Trailer</button></a>
											</li>
										</ul> <!-- .movie-schedule -->
									</div>
								</div>
							{% else %}
							{%endif%}
							</div>
						</div>
					</div>
				</main>
			</div>
		</form>
			<footer class="site-footer">

			</footer>
		</div>

		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/app.js"></script>

	</body>

</html>


